.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae0c8;
  font-family: Arial, sans-serif;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-card h1 {
  margin-bottom: 10px;
  color: #111827;
}

.login-card p {
  margin-bottom: 25px;
  color: #6b7280;
  font-size: 14px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  transition: 0.3s;
}

.login-card input:focus {
  border-color: #bd0814;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.login-card button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #bd0814;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #e54646;
}